@import "tailwindcss";

/* ===========================
   Light Theme
=========================== */

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --card: #ffffff;
  --card-foreground: #0f172a;

  --border: #e2e8f0;

  --primary: #8245ec;
  --secondary: #06b6d4;

  --muted: #64748b;
}

/* ===========================
   Dark Theme
=========================== */

.dark {
  --background: #050414;
  --foreground: #ffffff;

  --card: #081b29;
  --card-foreground: #ffffff;

  --border: rgba(255, 255, 255, 0.1);

  --primary: #8245ec;
  --secondary: #22d3ee;

  --muted: #94a3b8;
}

/* ===========================
   Base
=========================== */

* {
  transition:
    background-color .25s ease,
    color .25s ease,
    border-color .25s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

/* Selection */

::selection {
  background: #8245EC;
  color: white;
}

/* Glass */

.glass {
  backdrop-filter: blur(16px);
}